/* ************************************************ */


/* Style de la modal */
#alertModal {
	display: none; /* Masquer la modal par défaut */
	position: fixed; /* Position fixe */
	z-index: 1; /* Placez la modal au-dessus de tout le reste */
	left: 0;
	top: 0;
	width: 100%; /* Largeur pleine */
	height: 100%; /* Hauteur pleine */
	overflow: auto; /* Activer le défilement si nécessaire */
	background-color: rgba(0,0,0,0.4); /* Fond noir semi-transparent */
  }
  
  /* Contenu de la modal */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* Centrez la modal verticalement et horizontalement */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Largeur de la modal */
	max-width: 600px; /* Largeur maximale de la modal */
	border-radius: 10px;
  }
  
  /* Bouton de fermeture de la modal */
.close-modal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  